<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>moveMingo3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>480CFAEF1E21BECD00B6592C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480CFB061E21BECE00B6592C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480CFB111E21BECE00B6592C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
